.characterList{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

.characterList article{
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 5px;
}

.nombre{
    display: block;
}

.search-results{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

.search-results article{
    border: 1px solid grey;
    margin-bottom: 15px;
    padding: 5px;
}